
  <ul class="gallery-container">
    {{#each galleries}}

      <li class="gallery-card">
      <span>
        <h4><a href="/galleries/{{this.slug}}">{{this.name}}</a></h4>
        <p class="text-muted">by {{this.owner.name}}</p>
        <p>{{this.description}}</p>

        <hr>

        <a href="https://rocky-tor-43018.herokuapp.com/?galleryId={{this.id}}" class="btn-primary btn-info">Enter VR gallery</a>

        {{#if ../user }}
          {{#compare this.owner.id "==" ../user.id }}
            <a href="/galleries/{{this.id}}/edit" class="btn-primary">Edit Gallery</a>
          {{/compare}}
        {{/if}}
        </span>
      </li>


    {{else}}
    <li class="gallery-card text-center">

     <h3>No galleries! 😱</h3>
   </li>
   {{/each}}
  </ul>

