
<div class="row">
  <div class="col-xs-6">

    <h2 class="gallery-name">{{gallery.name}}</h2>
    <h3 class="text-muted gallery-owner">by {{gallery.owner.name}}</h3>

    <blockquote>
      <h3 class="gallery-desc">"{{gallery.description}}"</h3>
    </blockquote>
  </div>

  <div class="col-xs-6">
    <h2>Add artwork</h2>
    {{#compare gallery.owner.id "==" user.id}}
      <form action="/images/{{gallery._id}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
          <label for="blurb">Blurb</label>
          <textarea name="blurb" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="file">Choose a file</label>
          <input type="file" id="file" name="file" class="form-control">
        </div>

        <input type="submit" value="Submit" class="btn btn-default">
      </form>
    {{else}}
        <br>
        <h4>Uh oh! You are not the owner of this gallery! ☹️</h4>

    {{/compare}}
  </div>
</div>

<hr>

<div class="image-container">
  {{#each gallery.images}}

    <div class="image-card">

      <a href="/images/{{this.id}}">
        <img src="/images/{{this.id}}" class="thumbnail" />
      </a>

      <p>{{this.title}}</p>
      <p class="text-muted">{{this.blurb}}</p>

      <a href="/images/{{this.id}}/delete" class="btn btn-default del-btn">❌</a>
    </div>

  {{/each}}

</div>

<hr>

<div class="text-center">
  <a href="/galleries/{{gallery._id}}/delete" class="btn btn-danger">Delete Gallery</a>
</div>

<hr>



