
  <div class="gallery-container">
    {{#each galleries}}

      <div class="gallery-card well">
        <h4>👉 <a href="/galleries/{{this.slug}}">{{this.name}}</a></h4>
        <p class="text-muted">by {{this.owner.name}}</p>
        <p>{{this.description}}</p>

        <hr>

        <a href="https://rocky-tor-43018.herokuapp.com/?galleryId={{this.id}}" class="btn-primary btn-info">Enter VR gallery</a>

        {{#if ../user }}
          {{#compare this.owner.id "==" ../user.id }}
            <a href="/galleries/{{this.id}}/edit" class="btn-primary">Edit Gallery</a>
          {{/compare}}
        {{/if}}
      </div>


    {{else}}
    <div class="gallery-card well text-center">
     <h3>No galleries! 😱</h3>
   </div>
   {{/each}}
  </div>

